{
	"token" = "your-discord-bot-token-goes-here",
	"clientId": "your-discord-application-id-goes-here",
	"guildId": "your-discord-server-id-goes-here",
	"rotom": {
		"address":"http://rotom:7072"
	},
	"commandPermissionRole":"your-discord-role-id-goes-here",
	"deviceAlerts":{
		"enableDeviceCheck": false,
		"deviceCheckInterval": 60,
		"deviceAlertChannel": "your-discord-channel-id-goes-here",
		"deviceAlertRole": "your-discord-role-id-goes-here",
		"enablePowerCycle": false,
		"powercylceAfterDeviceDowntime": 45,
		"devices": [
			{
				"origin": "your-device-origin-goes-here",
				"webhookPowerOff": "your-power-off-webhook-goes-here",
				"webhookPowerOn": "your-power-on-webhook-goes-here"
			}
		]
	}
}